<style type='text/css' >
    .modal-overlay{
            z-index: -1 !important;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type=number] {
      -moz-appearance: textfield;
    }
    .inp{
        margin-top: 20px !important;
    }
    i.inp{
        font-size: 35px !important;
        margin-top: 25px !important;
    }
    input.inp{
        text-indent: 20px;
    }
    .input-field label{
        transform: none;
    }
    .input-field label:not(.label-icon).active{
        transform: none;
    }
    #Container-Sales .dropdown-content {
        top: 100% !important;
    }
    #add_Product.modal{
        left: 10%;
        right: auto;
        width: 80%;
    }
    td{
        display: table;
    }
    td > span, td > input[type=number]{
        font-size: 11px;
        line-height: 70px;
        text-align: center;

    }
    td > input[type=button]{
        margin-top: 2.5vh;
    }
    td > input[type=number]{
        margin-top: 1vh !important;
    }
</style>