{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {% include "component/css/css-client.html" %}
{% endblock %}
{% block content %}
    <div id="Container-Sales" class='container row valign-wrapper' style="width: 100%;" >
        <div class='col s12 card-panel' style='width: 90%; padding: 0;' >
            <nav class="col s12 nav-extended transparent">
                <div class="nav-content">
                    <ul class="tabs tabs-transparent">
                        <li class="tab"><a class="active" href="#cl-register">Registrar</a></li>
                        <li class="tab"><a  href="#cl-show">Buscar</a></li>
                        <li class="tab"><a href="#cl-modify">Modificar</a></li>
                        <li class="tab"><a href="#cl-delete">Eliminar</a></li>
                    </ul>
                </div>
            </nav>

            <div id="cl-register" class="col s12">
                <h5 class='col s7 offset-s3 card-title blue-text' style="margin-top: 25px; margin-bottom: 20px;" >Registrar Nuevo Cliente</h5>
                <div class="row">
                    <form id='nc-form' class="col s12" method="POST" action="/request/cliente" >
                        <div class="row">
                            <h6 class='col s11 offset-s1'>Información Personal</h6>
                            <div class="input-field col s3 offset-s1">
                                <input placeholder="Ninguno" id="ci_field" name='ci_field' type="number" class="inp validate white-text blue accent-2" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="14" required >
                                <label for="ci_field">CI</label>
                            </div>
                            <div class="input-field col s6">
                                <select id='dd-dt' name='dd-dt' required >
                                  <option value="" disabled selected>Elija una opción</option>
                                  <option value="pa">Pando</option>
                                  <option value="be">Beni</option>
                                  <option value="lp">La Paz</option>
                                  <option value="or">Oruro</option>
                                  <option value="po">Potosí</option>
                                  <option value="ta">Tarija</option>
                                  <option value="ch">Chuquisaca</option>
                                  <option value="co">Cochabamba</option>
                                  <option value="sa">Santa Cruz</option>
                                  <option value="ex">Extranjero</option>
                                </select>
                                <label>Departamento</label>
                            </div>
                            <div class="input-field col s9 offset-s1">
                                <input placeholder="Ninguno" id="name_field" name='name_field' type="text" class="inp validate white-text blue accent-2" pattern="[A-Za-z]{3,}" maxlength="16" required >
                                <label for="name_field">Nombre</label>
                            </div>
                            <div class="input-field col s9 offset-s1">
                                <input placeholder="Ninguno" id="fLast_field" name='fLast_field' type="text" class="inp validate white-text blue accent-2" pattern="[A-Za-z]{3,}" maxlength="18" required >
                                <label for="fLast_field">Apellido Paterno</label>
                            </div>
                            <div class="input-field col s9 offset-s1">
                                <input placeholder="Ninguno" id="mLast_field" name='mLast_field' type="text" class="inp validate white-text blue accent-2" pattern="[A-Za-z]{3,}" maxlength="18" required >
                                <label for="mLast_field">Apellido Materno</label>
                            </div>
                            <div class="input-field col s9 offset-s1">
                                <select id='sex_field' name='sex_field' required >
                                    <option value="" disabled selected>Elija una opción</option>
                                    <option value="H">Hombre</option>
                                    <option value="M">Mujer</option>
                                </select>
                                <label for="sex_field" >Sexo</label>
                            </div>
                            <div class="input-field col s9 offset-s1">
                                <input placeholder="Ninguno" id="pNumber_field" name='pNumber_field' type="number" class="inp validate white-text blue accent-2" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="9" required >
                                <label for="pNumber_field">Numero de telefono / celular</label>
                            </div>
                            <div class="input-field col s9 offset-s1">
                                <input placeholder="Ninguno" id="email_field" name='email_field' type="text" class="inp validate white-text blue accent-2" maxlength="38" required >
                                <label for="email_field">Email</label>
                            </div>
                            <div class="input-field col s9 offset-s1">
                                <input placeholder="Ninguno" id="dBirth_field" name="dBirth_field" type="text" class="inp validate white-text blue accent-2 datepicker" required >
                                <label for="dBirth_field">Fecha de Nacimiento</label>
                            </div>
                            <div class="input-field col s9 offset-s1">
                                <input placeholder="Ninguno" id="nit_field" name='nit_field' type="number" class="inp validate white-text blue accent-2" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="16" >
                                <label for="nit_field">NIT</label>
                            </div>
                            <div class="input-field col s9 offset-s1">
                                <input placeholder="Ninguno" id="rSocial_field" name='rSocial_field' type="text" class="inp validate white-text blue accent-2" pattern="[A-Za-z]{3,}" maxlength="45" >
                                <label for="rSocial_field">Razon Social</label>
                            </div>
                            <button id='nc-submit' class="col s9 offset-s1 btn grey lighten-2 light-blue-text" type="submit" name="action" style="margin-top: 20px;" >CONFIRM</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="cl-show" class="col s12">
                <div id='rsl-main-container'>
                    <h5 class='col s7 offset-s4 card-title blue-text' style="margin-top: 25px; margin-bottom: 20px;" >Buscar Cliente</h5>
                    <div class="input-field col s6 offset-s1">
                        <input placeholder="Ninguno" id="bcl-pCI_field" name='bcl-pCI_field' type="number" class="inp validate white-text blue accent-2" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" min="0" maxlength="9" required >
                        <label for="pNumber_field">CI</label>
                    </div>
                    <div class="input-field col s4">
                        <select id='bcl-dd-dt' required >
                          <option value="pa">Pando</option>
                          <option value="be">Beni</option>
                          <option value="lp">La Paz</option>
                          <option value="or">Oruro</option>
                          <option value="po">Potosí</option>
                          <option value="ta">Tarija</option>
                          <option value="ch">Chuquisaca</option>
                          <option value="co">Cochabamba</option>
                          <option value="sa">Santa Cruz</option>
                          <option value="ex">Extranjero</option>
                        </select>
                        <label>Departamento</label>
                    </div>
                    <div class="input-field col s10 offset-s1">
                        <input placeholder="Ninguno" id="bcl-pNameC_field" name='bcl-pNameC_field' type="text" class="inp validate white-text blue accent-2" pattern="[A-Za-z]{3,}" maxlength="16" required >
                        <label for="name_field">Nombre Completo</label>
                    </div>
                    <button id='bcl-cl-btn' class="col s8 offset-s2 btn grey lighten-2 light-blue-text" type="button" name="bcl-cl-btn" style="margin-top: 18px; margin-bottom: 50px;" >Buscar</button>
                    <table id="bcl-tClient" class="col s12 striped" style="margin-bottom: 30px;">
                        <thead>
                          <tr>
                            <th class='col s2 center-align' style='font-size: 0.6vw;' >CI</th>
                            <th class='col s4 center-align' style='font-size: 0.6vw;' >Nombre Completo</th>
                            <th class='col s2 center-align' style='font-size: 0.6vw;' >Departamento</th>
                            <th class='col s2 center-align' style='font-size: 0.6vw;' >NIT</th>
                            <th class='col s2 center-align' style='font-size: 0.6vw;' >razon Social</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="cl-modify" class="col s12">Modificar</div>
            <div id="cl-delete" class="col s12">Eliminar</div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include "component/js/script-client.html" %}
{% endblock %}