<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=0'>
    </head>
    <body>
        <div id="Container-registerInventory" class='container row valign-wrapper' style='width: 90%;' >
            <div class='col s12 card-panel' >
                <h5 class='col s7 offset-s4 card-title blue-text' style="margin-top: 25px; margin-bottom: 20px;" >Register Iventory</h5>
                <div class="row">
                </div>
            </div>
        </div>
    </body>
    <footer>

    </footer>
</html>