<DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <style type='text/css' >
        .inp{
            margin-top: 20px !important;
        }
        i.inp{
            font-size: 35px !important;
            margin-top: 25px !important;
        }
        input.inp{
            text-indent: 20px;
        }
        .input-field label{
            transform: none;
        }
        .input-field label:not(.label-icon).active{
            transform: none;
        }
    </style>
</head>
<body>
    <header>
    </header>
    <div id="Container-Sales" class='container row valign-wrapper' style='width: 90%;' >
        <div class='col s12 card-panel' >
            <h5 class='col s7 offset-s4 card-title blue-text' style="margin-top: 25px; margin-bottom: 20px;" >Register Sales</h5>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s9 offset-s1">
                            <i class="inp material-icons prefix">contacts</i>
                            <input disabled placeholder="None" id="username_field" type="text" class="inp validate white-text blue accent-2">
                            <label for="first_name">Client</label>
                        </div>
                        <a id="register-Sales_AddClient" style="padding: 0 !important;" ><i class="inp material-icons black-text waves-effect waves-light modal-trigger" style="margin-top: 40px !important;" >add_circle</i></a>
                        <div id="add_Client" class="modal modal-fixed-footer">
                            <div class="modal-content">
                                <h4>Modal Header</h4>
                                <p>A bunch of text</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>
                        <table class="col s10 offset-s1 striped" >
                            <thead>
                              <tr>
                                  <th>Description</th>
                                  <th>Unit Price</th>
                                  <th>Amount</th>
                                  <th>Action</th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            </tbody>
                        </table>
                        <div class="col s5 offset-s1">
                        <h5>Total: <span id="result-totalPrice" >0</span> Bs</h5>
                        </div>
                        <a class="col s2 offset-s3 waves-effect waves-light btn grey lighten-2 black-text" style="margin-top: 10px; height: 5px !important; line-height: 50px;" >Add Item</a>
                        <a class="col s8 offset-s2 waves-effect waves-light btn grey lighten-2 black-text" style="margin-top: 20px; line-height: 50px; " >CONFIRM</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<footer>
<script type="text/javascript" >
    $('.modal').modal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: 0, // Opacity of modal background
        inDuration: 300, // Transition in duration
        outDuration: 200, // Transition out duration
        startingTop: '4%', // Starting top style attribute
        endingTop: '10%', // Ending top style attribute
        ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
          //empty
        },
        complete: function() {
            //empty
         } // Callback for Modal close
      }
    );
    $('#register-Sales_AddClient').click(function(){
        $('#add_Client').modal('open');
    });
</script>
    
</footer>
</html>