{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {% include "component/css/css-home.html" %}
{% endblock %}
{% block content %}
    <div class='' >
        <ul id="dropdown-setBrightness" class="dropdown-content" style="min-width: 300px !important;" >
            <li>
                <div class="row" >
                    <p class="col 10 offset-s1 white-text" >Configurar Brillo:</p>
                    <p class="range-field col s10 offset-s1">
                        <input type="range" id="rangeSlider-setBrightness" min="0.6" max="1" step="0.1" value="0.9" />
                    </p>
                </div>
            </li>
        </ul>
        <a id="btn-set-brightness" class='dropdown-button' style="padding: 0 !important; position: absolute; left: 30px;" data-activates="dropdown-setBrightness" ><i class="material-icons blue-text modal-trigger" style="margin-top: 25px !important; font-size: 60px;" >wb_sunny</i></a>
        <header>
            <ul id="dropdown-profile" class="dropdown-content">
                <!--<li><a href="">one<span class="badge">1</span></a></li> -->
                <li><a href="/profile">Perfil<span class="new badge">1</span></a></li>
                <li><a href="/logout">Cerrar Sesion</a></li>
            </ul>
            <a class="btn dropdown-button black white-text row" href="" data-activates="dropdown-profile" style="opacity: 0.7;"><i class='i-opt col s2' id='i-profile' style="margin-right: 0 !important;" ></i><span class='col s9' style='line-height: 45px; font-size: 12px;' >{{sess_nomInfo}}</span><i class="material-icons right col s1" style="padding-left: 8px;">arrow_drop_down</i></a>
        </header>
        <div style='display: flex;'>
        <div class='valign-wrapper' style='width: 30% !important; height: 100vh !important;'>
            <div id='menu-home' class='row black' style='padding: 30px; opacity: 0.7;'>
                <div id='home-opt02' class='opt col s12'>
                    <a class='col s12 btn tooltipped transparent' data-position='right' data-delay='50' data-tooltip='Select' href='#' >
                        <i class='i-opt col s1 material-icons prefix'>storage</i>
                        <h6 class='col s10 left-align' >Producto</h6>
                    </a>
                </div>
                <div id='home-opt03' class='opt col s12'>
                    <a class='col s12 btn tooltipped transparent' data-position='right' data-delay='50' data-tooltip='Select' href='#' >
                        <i class='i-opt col s1 material-icons prefix'>person</i>
                        <h6 class='col s10 left-align' >Cliente</h6>
                    </a>
                </div>
                <div id='home-opt04' class='opt col s12'>
                    <a class='col s12 btn tooltipped transparent' data-position='right' data-delay='50' data-tooltip='Select' href='#' >
                        <i class='i-opt col s1 material-icons prefix'>event_available</i>
                        <h6 class='col s10 left-align'>Venta</h6>
                    </a>
                </div>
                <div id='home-opt05' class='opt col s12'>
                    <a class='col s12 btn tooltipped transparent' data-position='right' data-delay='50' data-tooltip='Select' href='#' >
                        <i class='i-opt col s1 material-icons prefix'>book</i>
                        <h6 class='col s10 left-align'>Inventario</h6>
                    </a>
                </div>
                <div class='opt col s12'>
                    <a class='col s12 btn tooltipped transparent' data-position='right' data-delay='50' data-tooltip='Select' href='#' >
                        <i class='i-opt col s1 material-icons prefix'>account_circle</i>
                        <h6 class='col s10 left-align'>Garantia</h6>
                    </a>
                </div>
                <!--<div class='opt col s12'> -->
                <!--    <a class='col s12 btn tooltipped transparent' data-position='right' data-delay='50' data-tooltip='Select' href='#' > -->
                <!--        <i class='i-opt col s1 material-icons prefix'>account_circle</i> -->
                <!--        <h6 class='col s10 left-align'>Profile</h6> -->
                <!--    </a> -->
                <!--</div> -->
                <!--<div class='opt col s12'> -->
                <!--    <a class='col s12 btn tooltipped transparent' data-position='right' data-delay='50' data-tooltip='Select' href='#' > -->
                <!--        <i class='i-opt col s1 material-icons prefix'>account_circle</i> -->
                <!--        <h6 class='col s10 left-align'>Profile</h6> -->
                <!--    </a> -->
                <!--</div> -->
            </div>
        </div>
        <div class='valign-wrapper' style='height: 97vh; flex-grow: 1; justify-content: center; margin-top: 30px;' >
            <div id='another-body' class='' style='height: 90%; width: 90%; opacity: 0.8;' ></div>
        </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include "component/js/script-home.html" %}
{% endblock %}