{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    {% include "component/css/css-login.html" %}
{% endblock %}
{% block content %}
    <header>
    </header>
    <div id="loginContainer" class='container row valign-wrapper' style='height: 90vh !important;' >
        <div class='col s10 offset-s1 m8 offset-m2 l9 offset-l2 offset-xl3 card-panel card-custom' style="max-width: 596px;" >
            <h5 class='col s7 offset-s3 offset-m4 card-title white-text' style="margin-top: 25px; margin-bottom: 20px;" >ACCOUNT LOGIN</h5>
            <h6 class='col s11 offset-s1 red-text' >{{err_message}}</h6>
            <div class="row">
                <form class="col s12" method="POST" action="/login" id='form_login' >
                    <div class="row">
                        <div class="input-field col s9 offset-s1">
                            <i class="inp material-icons prefix">account_circle</i>
                            <input placeholder="Username" id="username_field" name='lg_user' type="text" class="inp validate white-text grey darken-4">
                            <label for="first_name">USERNAME</label>
                        </div>
                        <div class="input-field col s9 offset-s1">
                            <i class="inp material-icons prefix">lock_outline</i>
                            <input placeholder="**********" id="password_field" name='lg_password' type="password" class="inp validate white-text grey darken-4">
                            <label for="first_name">PASSWORD</label>
                        </div>
                        <a id='log_submit' class="col s8 offset-s2 waves-effect waves-light btn grey lighten-2 black-text">LOG IN</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include "component/js/script-login.html" %}
{% endblock %}