<script type="text/javascript">

    //HOME
    //Variable
    $var_opt = 0
    //JQUERY
    $('#rangeSlider-setBrightness').on('input', function(){
        var value = $('#rangeSlider-setBrightness').val();
        var filterVal = 'brightness(' + value + ')';
        $('html')
          .css('filter',filterVal)
          .css('webkitFilter',filterVal)
          .css('mozFilter',filterVal)
          .css('oFilter',filterVal)
          .css('msFilter',filterVal);
    });
    $('#home-opt01').click(function(){
        if($var_opt != 1){
            $('#another-body').load('/restricted/product');
            $var_opt = 1
        }else{
            $('#another-body').empty();
            $var_opt = 0
        }
    });
    $('#home-opt02').click(function(){
        if($var_opt != 2){
            $('#another-body').load('restricted/client');
            $var_opt = 2
        }else{
            $('#another-body').empty();
            $var_opt = 0
        }
    });
    $('#home-opt03').click(function(){
        if($var_opt != 3){
            $('#another-body').load('restricted/sales');
            $var_opt = 3
        }else{
            $('#another-body').empty();
            $var_opt = 0
        }
    });
    $('#home-opt04').click(function(){
        if($var_opt != 5){
            $('#another-body').load('/restricted/inventory');
            $var_opt = 5
        }else{
            $('#another-body').empty(); 
            $var_opt = 0
        }
    });
</script>